<h3>LISTS<h3>

In [1]:
temp = [38.4, 19.2, 12.8, 9.6]
print(temp)
print(temp[0])

[38.4, 19.2, 12.8, 9.6]
38.4

In [2]:
print(len(temp))

4

<h4>Lists count()<h4>

In [3]:
list1 = [1, 1, 1, 2, 3, 2, 1]
#Counts the number of times 1 appears in list1
print(list1.count(1))

list2 = ['a', 'a', 'a', 'b', 'b', 'a', 'c', 'b']
#Counts the number of times 'b' appears in list2
print(list2.count('b'))

list3 = ['Cat', 'Bat', 'Sat', 'Cat', 'cat', 'Mat']
#Counts the number of times 'Cat' appears in list3
print(list3.count('Cat'))

4
3
2

<h4>Lists sort()<h4>

In [4]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()
print(list(cars))

['BMW', 'Ford', 'Volvo']

In [5]:
cars.sort(reverse=True)
print(list(cars))

['Volvo', 'Ford', 'BMW']

<h4>Lambda Operator<h4>

In [6]:
def cube(y):
    return y*y*y
g = lambda x: x*x*x

print(cube(5))
print(g(5))

125
125

<h4>map()<h4>

In [7]:
# map(function, iterable)

tempc = [38.4, 19.2, 12.8, 9.6]
tempf = map(lambda x: (float(9)/5)*x+32, tempc) #convert celcius to fahrenheit
print(tempf)
print(list(tempf)) #casting to list required!

<map object at 0x00000117FCE54970>
[101.12, 66.56, 55.040000000000006, 49.28]

<h4>reduce()<h4>

In [8]:
# reduce(fun,seq)
# Use of lambda() with reduce()

#importing functools for reduce
import functools

#initializing list
lst = [1, 3, 5, 6, 2]

#using reduce to compute sum of list
print("The sum of the list elements is: ",end="")
print(functools.reduce(lambda a,b : a+b,lst))

#using reduce to compute maximum element from list
print("The maximum element of the list is: ",end="")
print(functools.reduce(lambda a,b : a if a > b else b,lst))

The sum of the list elements is: 17
The maximum element of the list is: 6

<h4>filter()<h4>

In [9]:
#function that filters vowels
def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    else:
        return False

#sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']

#using filter function
filtered = filter(fun, sequence)

print("The filtered letters are:")
for s in filtered:
    print(s)

The filtered letters are:
e
e

In [10]:
# Use of lambda() with filter()

#a list contains both even and odd numbers
seq = [0, 1, 2, 3, 5, 8, 13]

#result contains odd numbers of the list
result = filter(lambda x: x%2, seq)
print(list(result))

#result contains even numbers of the list
result = filter(lambda x: x%2 == 0, seq)
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]

<h3>TUPLES<h3>

In [11]:
rec0 = "Emre", "Bilal", 24
rec1 = "Jeff", "Aven", 45
rec2 = "Leo", "Messi", 33
rec3 = "Emre", "Bilal", 24

rec0

('Emre', 'Bilal', 24)

In [12]:
len(rec0)

3

In [13]:
print("First Name: " + rec0[0])

First Name: Emre

In [14]:
#create tuple of tuples
all_recs = rec0, rec1, rec2, rec3

print(all_recs)
all_recs

(('Emre', 'Bilal', 24), ('Jeff', 'Aven', 45), ('Leo', 'Messi', 33), ('Emre', 'Bilal', 24))

(('Emre', 'Bilal', 24),
 ('Jeff', 'Aven', 45),
 ('Leo', 'Messi', 33),
 ('Emre', 'Bilal', 24))

In [15]:
#create list of tuples
list_of_recs = [rec0, rec1, rec2, rec3]

print(list_of_recs)
list_of_recs

[('Emre', 'Bilal', 24), ('Jeff', 'Aven', 45), ('Leo', 'Messi', 33), ('Emre', 'Bilal', 24)]

[('Emre', 'Bilal', 24),
 ('Jeff', 'Aven', 45),
 ('Leo', 'Messi', 33),
 ('Emre', 'Bilal', 24)]

<h3>DICTIONARIES<h3>

In [16]:
dict0 = {
    'fname':'Emre',
    'lname':'Bilal',
    'pos':'developer'
}
dict1 = {'fname':'Jeff', 'lname':'Aven', 'pos':'director'}
dict2 = {'fname':'David', 'lname':'Smith', 'pos':'ceo'}
dict3 = {'fname':'Emre', 'lname':'Bilal', 'pos':'developer'}

len(dict0)

3

In [17]:
print(dict0['fname'])

Emre

In [18]:
dict0.keys()

dict_keys(['fname', 'lname', 'pos'])

In [19]:
dict0.values()

dict_values(['Emre', 'Bilal', 'developer'])

<h3>JSON (JavaScript Object Notation)<h3>

In [20]:
import json
from pprint import pprint
json_str = '''{"people" : [
    {"fname": "Emre", "lname": "Bilal", "tags": ["python", "java"]},
    {"fname": "Jeff", "lname": "Aven", "tags": ["big data", "hadoop"]},
    {"fname": "Doug", "lname": "Cutting", "tags": ["hadoop", "apache", "java"]},
    {"fname": "John", "lname": "Doe", "tags": []}
]}'''
people = json.loads(json_str)

len(people["people"])

4

In [21]:
print(people["people"][0]["fname"])

Emre

In [22]:
#add tag item to the first person
people["people"][0]["tags"].append('spark')

In [23]:
pprint(people)

{'people': [{'fname': 'Emre',
             'lname': 'Bilal',
             'tags': ['python', 'java', 'spark']},
            {'fname': 'Jeff', 'lname': 'Aven', 'tags': ['big data', 'hadoop']},
            {'fname': 'Doug',
             'lname': 'Cutting',
             'tags': ['hadoop', 'apache', 'java']},
            {'fname': 'John', 'lname': 'Doe', 'tags': []}]}

In [24]:
#delete the fourth person
del people["people"][3]

In [25]:
pprint(people)

{'people': [{'fname': 'Emre',
             'lname': 'Bilal',
             'tags': ['python', 'java', 'spark']},
            {'fname': 'Jeff', 'lname': 'Aven', 'tags': ['big data', 'hadoop']},
            {'fname': 'Doug',
             'lname': 'Cutting',
             'tags': ['hadoop', 'apache', 'java']}]}

<h3>PICKLE<h3>

In [26]:
import _pickle as pickle
obj = {"fname": "Emre",
      "lname": "Bilal",
      "tags": ["python","java"]}
str_obj = pickle.dumps(obj)
pickled_obj = pickle.loads(str_obj)

print(pickled_obj["fname"])

Emre

In [27]:
pickled_obj["tags"].append('spark')
print(str(pickled_obj["tags"]))

['python', 'java', 'spark']

In [28]:
#dump pickled object to a string
pickled_obj_str = pickle.dumps(pickled_obj)
#dump pickled object to a pickle file
pickle.dump(pickled_obj, open('object.pkl', 'wb'))

<h4>Named Functions and Anonymous Functions in Python<h4>

In [29]:
# named function
def plusone(x):
    return x+1
plusone(1)

2

In [30]:
type(plusone)

function

In [31]:
# anonymous function
plusonefn = lambda x: x+1
plusone(1)

2

In [32]:
type(plusonefn)

function

In [33]:
plusone.__name__

'plusone'

In [34]:
plusonefn.__name__

'<lambda>'

<h4>Word Count Example with High Order Functions<h4>

In [35]:
from pyspark import SparkConf
from pyspark import SparkContext
conf = SparkConf().setAppName('WordCountApp')
sc = SparkContext(conf = conf)

lines = sc.textFile("input.txt")
counts = lines.flatMap(lambda x: x.split(' ')) \
    .filter(lambda x: len(x) > 0) \
    .map(lambda x: (x, 1)) \
    .reduceByKey(lambda x, y: x+y) \
    .collect()

In [36]:
for (word, count) in counts:
    print("%s: %i" % (word, count))

Machine: 1
learning: 1
is: 2
of: 3
artificial: 1
focused: 1
improve: 1
programmed: 1
do: 1
so.: 1
an: 1
algorithm: 1
sequence: 1
statistical: 1
steps.: 1
machine: 1
learning,: 1
algorithms: 1
are: 1
in: 2
massive: 1
amounts: 1
make: 1
predictions: 2
based: 1
new: 1
data.: 2
The: 1
algorithm,: 1
more: 2
accurate: 1
become: 1
as: 1
processes: 1
a: 2
branch: 1
intelligence: 1
on: 2
building: 1
applications: 1
that: 1
learn: 1
from: 1
data: 3
and: 4
their: 1
accuracy: 1
over: 1
time: 1
without: 1
being: 1
to: 3
In: 2
science,: 1
processing: 1
trained: 1
find: 1
patterns: 1
features: 1
order: 1
decisions: 2
better: 1
the: 3
will: 1
it: 1

<h3>CLOSURES<h3>

In [37]:
def generate_message(concept):
    def ret_message():
        return 'This is an example of ' + concept
    return ret_message

call_func = generate_message('closures in Python')
call_func

In [38]:
call_func()

'This is an example of closures in Python'

In [39]:
#inspect closure
call_func.__closure__

(<cell at 0x00000117FD21BD30: str object at 0x00000117FCEB3580>,)

In [40]:
type(call_func.__closure__[0])

cell

In [41]:
call_func.__closure__[0].cell_contents

'closures in Python'

In [42]:
#delete function
del generate_message
#call closure again
call_func()

'This is an example of closures in Python'

In [43]:
#the closure still works